## FIFO Calculation

In [1]:
# Importing libraries
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import pyodbc

In [2]:
# Database Connection
server = 'xxx' 
database = 'xxx' 
username = 'LisaLi' 
password = 'xxx' 
prod_db = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [3]:
# FIFO Raw Query
fifo_raw_sql = """SELECT * FROM [PROCUREMENTDB].[Retail].[FIFORawView] ORDER BY Posting_Date DESC"""
fifo_raw = pd.read_sql(fifo_raw_sql, prod_db)
print(fifo_raw.isna().sum())
fifo_raw.head()

ISBN               0
Posting_Date       0
Quantity           0
Landed_Cost_USD    0
Availability       0
dtype: int64

            ISBN Posting_Date  Quantity  Landed_Cost_USD  Availability
0  9781454887492   2021/06/07      25.0           110.96            29
1  9781454893516   2021/06/07      30.0           126.42            30
2  9781483376257   2021/06/07      10.0            21.15            10
3  9781543802498   2021/06/07      50.0           108.68            60
4  9781543813722   2021/06/07      30.0           124.70            30

In [4]:
# FIFO calculation
dataset = fifo_raw
X = dataset.iloc[:].values
print (dataset.head())
print(list(dataset.columns))
uniqISBN = list(dataset['ISBN'].unique())
print(len(uniqISBN))
columns = ['ISBN','WAC']
resultDF = pd.DataFrame(columns=columns)
X = 0


for isbn in uniqISBN:
    oneIsbn = dataset.loc[dataset['ISBN'] == isbn]
    if  oneIsbn['Quantity'].iloc[0] >= oneIsbn['Availability'].iloc[0]:
        resultDF = resultDF.append({'ISBN': isbn,'WAC': oneIsbn['Landed_Cost_USD'].iloc[0]},ignore_index=True)
    else:
        diff = oneIsbn['Availability'].iloc[0] - oneIsbn['Quantity'].iloc[0]
        num = oneIsbn['Landed_Cost_USD'].iloc[0] * (oneIsbn['Quantity'].iloc[0])
        lastCost = oneIsbn['Landed_Cost_USD'].iloc[0]
        oneIsbnTemp = oneIsbn.iloc[1:]
        for index, row in oneIsbnTemp.iterrows():
            if row['Quantity'] >= diff:
                num = num + (diff * row['Landed_Cost_USD'])
                diff = 0
                break
            else:
                num = num + (row['Quantity']  * row['Landed_Cost_USD'])
                diff = diff - row['Quantity']
                lastCost = row['Landed_Cost_USD']
        if diff > 0:
            print ('I am here: ' + str(isbn))
            num = num + (diff  * lastCost)
        resultDF = resultDF.append({'ISBN': isbn,'WAC': num/oneIsbn['Availability'].iloc[0]},ignore_index=True)

            ISBN Posting_Date  Quantity  Landed_Cost_USD  Availability
0  9781454887492   2021/06/07      25.0           110.96            29
1  9781454893516   2021/06/07      30.0           126.42            30
2  9781483376257   2021/06/07      10.0            21.15            10
3  9781543802498   2021/06/07      50.0           108.68            60
4  9781543813722   2021/06/07      30.0           124.70            30
['ISBN', 'Posting_Date', 'Quantity', 'Landed_Cost_USD', 'Availability']
5490
I am here: 9781454887492
I am here: 9781601567246
I am here: 9780134741086
I am here: 9780134741062
I am here: 9780135168042
I am here: 9780134169804
I am here: 9780134319650
I am here: 9780134407623
I am here: 9780134461991
I am here: 9780134472089
I am here: 9780134519258
I am here: 9780134553511
I am here: 9780134580999
I am here: 9780134610672
I am here: 9780134649290
I am here: 9780134685717
I am here: 9781138668324
I am here: 9781337285018
I am here: 9781936523399
I am here: 9781337630580
I am here: 9780801039461
I am here: 9780357020821
I am here: 9781138290693
I am here: 9781138668386
I am here: 9781138282063
I am here: 9780062574336
I am here: 9781538763186
I am here: 9781640497702
I am here: 9781936523467
I am here: 9781138289734
I am here: 9780198707578
I am here: 9780062870483
I am here: 9780062947123
I am here: 9781543804539
I am here: 9781543805192
I am here: 9781543806793
I am here: 9781454887782
I am here: 9781543804454
I am here: 9781454891284
I am here: 9781285194813
I am here: 9780134678863
I am here: 9780134561011
I am here: 9781284155617
I am here: 9781543810646
I am here: 9780323569149
I am here: 9780357136027
I am here: 9780134731889
I am here: 9780415784900
I am here: 9781138284265
I am here: 9781337553674
I am here: 9781337560092
I am here: 9780135262153
I am here: 9781305960787
I am here: 9781138656697
I am here: 9781133315544
I am here: 9781118385388
I am here: 9781337407809
I am here: 9781305500525
I am here: 9781133603566
I am here: 9781464184369
I am here: 9780495509325
I am here: 9781259705076
I am here: 9780078026980
I am here: 9781284043075
I am here: 9781259717772
I am here: 9780323479271
I am here: 9780078021770
I am here: 9780073386478
I am here: 9780128113257
I am here: 9781319066604
I am here: 9781259281594
I am here: 9781259144387
I am here: 9781259562792
I am here: 9781259722660
I am here: 9781337111348
I am here: 9781305266438
I am here: 9781259544309
I am here: 9780128035559
I am here: 9780323476522
I am here: 9780323613927

In [5]:
# Keepa Data Query
keepa_raw_sql = """SELECT Isbn_Keepa, Asin, Publisher, BuyBox_Price, SaleRank_Current, Publication_Date, FBA_Fees FROM [PROCUREMENTDB].[Retail].[KeepaCleanedRawView]"""
keepa_raw = pd.read_sql(keepa_raw_sql, prod_db)
print(keepa_raw.isna().sum())
keepa_raw.head()

Isbn_Keepa          0
Asin                0
Publisher           0
BuyBox_Price        0
SaleRank_Current    0
Publication_Date    0
FBA_Fees            0
dtype: int64

,Isbn_Keepa,Asin,Publisher,BuyBox_Price,SaleRank_Current,Publication_Date,FBA_Fees
0,9780062466754,0062466755,HARPERLUXE,16.88,5330725,2016/05/24,4.90
1,9780062676948,0062676946,WILLIAM MORROW & COMPANY,28.49,77637,2017/10/24,5.42
2,9780062567741,0062567748,HARPER WAVE,9.99,246205,2017/10/10,3.48
3,9780062407801,0062407805,HARPER BUSINESS,18.69,242,2016/05/17,4.90
4,9780062945839,0062945831,HARPERCOLLINS,22.99,4375,2019/10/29,5.80

In [6]:
# Join Tables
fifo = pd.merge(resultDF, keepa_raw, left_on="ISBN", right_on="Isbn_Keepa").drop('Isbn_Keepa', axis=1)
print(fifo)

               ISBN         WAC        Asin               Publisher  \
0     9781454887492  110.960000  1454887494        ASPEN PUBLISHERS
1     9781454893516  126.420000  1454893516        ASPEN PUBLISHERS
2     9781483376257   21.150000  1483376257  SAGE PUBLICATIONS, INC
3     9781483376257   21.150000  B0722HXKNX
4     9781543802498  110.348333  1543802494        ASPEN PUBLISHERS
...             ...         ...         ...                     ...
5742  9780323371018  132.776448  0323371019                ELSEVIER
5743  9781285737485   50.566122  1285737482        CENGAGE LEARNING
5744  9780128008836   58.676750  B01NCYCV5Q
5745  9780128008836   58.676750  0128008830          ACADEMIC PRESS
5746  9780323613927   46.222680  0323613926                ELSEVIER

      BuyBox_Price  SaleRank_Current Publication_Date  FBA_Fees
0           219.35            403736       2018/02/22      6.94
1           251.49           1372420       2020/11/01      5.80
2            45.00             51351       2016/03/18      4.90
3            43.18           6205500       0001/01/01      0.00
4           163.95            641552       2018/10/01      6.18
...            ...               ...              ...       ...
5742        248.98            846495       2017/05/25      7.70
5743         81.45            775728       2014/01/01      4.90
5744          0.00           6225991       0001/01/01      6.94
5745         72.89            896105       2016/12/30      6.56
5746         88.98           4450754       2018/09/25      4.90

[5747 rows x 8 columns]

In [7]:
fifo['Index'] = fifo['BuyBox_Price']/fifo['WAC']

In [8]:
fifo = fifo.sort_values(['Index'], ascending=False).drop_duplicates(subset = ['ISBN'], keep='last')

In [9]:
# Fill Missing FIFO
fifo['FIFO'] = np.where((fifo.WAC <= 10) & (fifo.BuyBox_Price != 0), (fifo.BuyBox_Price*0.85 - fifo.FBA_Fees)/1.25, fifo.WAC)

In [10]:
# Fill Lower FIFO
fifo['FIFO'] = np.where(fifo['FIFO'] <= 3,3, fifo['FIFO'])

In [11]:
fifo.drop('WAC', inplace=True, axis=1)

In [12]:
fifo['ISBN'] = fifo['ISBN'].astype(str)

In [13]:
fifo.head()

,ISBN,Asin,Publisher,BuyBox_Price,SaleRank_Current,Publication_Date,FBA_Fees,Index,FIFO
5486,9781133284321,1133284329,,95.00,4259986,0001/01/01,4.90,27.377522,60.680000
4940,9781119352891,1119352894,WILEY,98.99,621873,2016/12/27,4.90,14.974621,63.393200
2919,9780789758330,0789758334,,110.98,123247,2017/05/22,5.42,11.098000,71.130400
5149,9781118583180,1118583183,,261.68,263080,2014/12/15,6.18,8.656142,30.230556
304,9780553384116,0553384112,BANTAM,14.99,25212,2008/08/26,2.63,7.495000,8.089200

In [14]:
# FIFO Org Query
fifo_org_sql = """SELECT * FROM [PROCUREMENTDB].[Retail].[FIFO]"""
fifo_org = pd.read_sql(fifo_org_sql, prod_db)
fifo_org['ISBN']= fifo_org['ISBN'].astype(str)
print(fifo_org.isna().sum())
fifo_org.head()

ISBN                0
Asin                0
Publisher           0
BuyBox_Price        0
SaleRank_Current    0
Publication_Date    0
FBA_Fees            0
Index               0
FIFO                0
dtype: int64

,ISBN,Asin,Publisher,BuyBox_Price,SaleRank_Current,Publication_Date,FBA_Fees,Index,FIFO
0,9781133284321,1133284329,,95.00,4259986,0001/01/01,4.90,1.565590,60.680000
1,9781119352891,1119352894,WILEY,98.99,621873,2016/12/27,4.90,1.561524,63.393200
2,9780789758330,0789758334,,110.98,123247,2017/05/22,5.42,1.560233,71.130400
3,9781118583180,1118583183,,261.68,263080,2014/12/15,6.18,8.656142,30.230556
4,9780553384116,0553384112,BANTAM,14.99,25212,2008/08/26,2.63,1.853088,8.089200

In [15]:
all_fifo = [fifo, fifo_org]
fifo_f = pd.concat(all_fifo)
fifo_f = fifo_f.sort_values(['FIFO'], ascending=True).drop_duplicates(subset = ['ISBN'], keep='last')

In [16]:
fifo_f.to_excel(r"C:\Users\lisal\OneDrive - bookxchange.com\Retail Reporting\Reports\FIFO Report\FIFO_Report_V2.xlsx", sheet_name='FIFO Report',  index = False)

In [17]:
fifo['Index'] = fifo['BuyBox_Price']/fifo['FIFO']

In [18]:
fifo.to_excel(r"C:\Users\lisal\OneDrive - bookxchange.com\Retail Reporting\Reports\FIFO Report\FIFO_Report_V3.xlsx", sheet_name='FIFO Report',  index = False)

In [19]:
fifo =  pd.DataFrame(fifo)

In [20]:
import sqlalchemy as sa
engine = sa.create_engine("mssql+pyodbc://LisaLi:t4vUByNaANWqszXP@52.86.56.66:1433/PROCUREMENTDB?driver=ODBC+Driver+17+for+SQL+Server")

In [22]:
fifo.to_sql("FIFO", engine, if_exists='replace', index=None, schema = 'Retail')